<?xml version="1.0"?>
<log4net debug="false">
  <appender name="RootAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Log\" />
    <datePattern value="yyyyMMdd'.txt'" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date [%-5level] -- %m%n" />
    </layout>
  </appender>
  
  <root>
    <appender-ref ref="RootAppender" />
  </root>
</log4net>